<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript"  src="resources/angular.min.js"></script>
</head>
<body data-ng-app="jobApp">
<form action="" data-ng-controller="jobctrl" data-ng-submit="submit()" ><hr>
title:<input type="text" data-ng-model="title"><hr>
company:<input type="text" data-ng-model="company"><hr>
jobdetails:<input type="text" data-ng-model="jobdetails"><hr>
 date:<input type="date" data-ng-model="lastdate"><hr>
 <input type="submit">
</form>
<script type="text/javascript" src="Job/jobctrl.js"></script>
</body>
</html>